@mixin button {
    display: inline-block;
    background: transparent url(#{$img}/button.png) no-repeat center / 100% 100%;
    box-sizing: border-box;
    cursor: pointer;
    color: $color;
    border: none;
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    width: 324px;
    height: 93px;
    font-family: $font-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 93px;
    padding: 0 20px;
    position: relative;
    @include desktop {
        width: 605px;
        height: 141px;
        font-size: 44px;
        line-height: 141px;
    }

    &:hover {
        animation: button-rotate .5s steps(2, start)  forwards;
    }

    &:active {
        animation: button-scale .5s steps(1, start)  forwards;
    }

    &:disabled {
        pointer-events: none;
        opacity: .6;
    }
}

.button,
button,
input[type="button"] {
    @include button;
}

.button {
    width: 100%;
    @include tablet {
        width: auto;
    }

    &__yellow {
        background-image: url(#{$img}/button-orange.png);
    }

    &_icon {
        display: none;
        @include tablet {
            display: inline-block;
            vertical-align: -4px;
            margin: 0 10px 0 -6px;
        }
    }
}

@keyframes button-rotate {
    0% {
        rotate: 0deg;
    }

    33% {
        rotate: -3deg;
    }

    66% {
        rotate: 2deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes button-scale {
    0% {
        scale: 1;
    }

    33% {
        scale: 0.97;
    }

    66% {
        scale: 0.93;
    }

    100% {
        scale: 1;
    }
}