.footer {
    padding: 166px 20px 176px;
    @include desktop {
        padding-top: 66px;
        padding-bottom: 122px;
    }

    &_holder {
        @include layout;
    }

    &_head {
        margin: 0 0 45px;
        display: flex;
        justify-content: center;
        @include desktop {
            margin-bottom: 70px;
        }
    }

    &_head-image {
        width: 341px;
        @include desktop {
            width: 400px;
        }
    }

    &_copyrights {
        display: block;
        font-size: 14px;
        line-height: 1.7;
        text-transform: uppercase;
        text-align: center;
        @include desktop {
            font-size: 34px;
        }
    }
}
