.header {
    position: relative;
    z-index: 3;

    &_holder {
        @include layout;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    &_bird {
        position: absolute;
        right: 7px;
        top: 49px;
        width: 122px;
        height: 105px;
        @include desktop {
            width: 172px;
            height: 148px;
            left: 50%;
            transform: translateX(600px);
        }
    }
}
