
.menu {
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px 0;
    overflow: auto;
    padding: $indent;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
    background-color: $color;
    transition: .2s $easingSmooth opacity,
                .2s $easingSmooth transform;
    @include desktop {
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        opacity: 1;
        pointer-events: all;
        position: absolute;
        top: 105px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        gap: 0;
        height: auto;
        width: auto;
        overflow: visible;
    }


    .menu-opened & {
        opacity: 1;
        pointer-events: all;
    }

    &_links {
        display: flex;
        flex-direction: column;
        gap: 28px;
        @include desktop {
            flex-direction: row;
            gap: 84px;
        }
    }

    &_link {
        font-size: 64px;
        font-style: normal;
        line-height: .94;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        color: $cLight;
        @include desktop {
            color: $color;
            font-size: 30px;
        }

        &:nth-child(1) {
            @include desktop {
                color: #FF008C;
            }
        }
        &:nth-child(2) {
            @include desktop {
                color: #618201;
                margin-right: 222px;
            }
        }
        &:nth-child(3) {
            @include desktop {
                color: #001BAC;
                margin-left: 222px;
            }
        }
        &:nth-child(4) {
            @include desktop {
               color: #FBAB07;
            }
        }
    }

    &_link-text {
        transition: .2s $easing filter;
        @include desktop {
            filter: brightness(0);
        }

        .menu_link:hover & {
            filter: brightness(1);
        }
    }

    &_link-soon {
        position: absolute;
        top: 76%;
        left: 62%;
        pointer-events: none;
        @include desktop {
            top: 70%;
            left: 55%;
        }
    }

    &_logo {
        width: 166px;
        height: auto;
        margin-top: 16px;
        @include desktop {
            display: none;
        }
    }

    &_footer {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 22px;
        @include desktop {
            display: none;
        }
    }

    &_footer-link {
        color: $cLight;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
    }

    &_close {
        position: absolute;
        top: 26px;
        right: 0;
        width: 126px;
        height: auto;
        opacity: 0;
        pointer-events: none;
        @include desktop {
            display: none;
        }

        .menu-opened & {
            opacity: 1;
            pointer-events: all;
        }
    }
}
