.menu-toggle {
    @include button-reset;
    position: absolute;
    top: 26px;
    right: 0;
    box-sizing: border-box;
    z-index: 11;
    transition: .2s $easingSmooth opacity,
                .2s $easingSmooth color,
                .2s $easingSmooth background-color,
                .2s $easingSmooth transform;
    @include desktop {
        display: none;
    }

    .menu-opened & {
        opacity: 0;
        pointer-events: none;
    }

    &_image {
        width: 166px;
        height: auto;
        pointer-events: none;
    }
}
