.preloader {
    // display: none !important; 

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    transition: .5s $easing opacity;
    animation: autohide 1s linear 6s forwards;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cBright;
        animation: autohide 6s linear forwards;
    }
    
    &_image {
        width: auto;

        &__mobile {
            position: absolute;
            bottom: 0;
            left: 50%;
            height: auto;
            width: 80vh;
            transform: translateX(-50%);
            @include tablet {
                display: none;
            }
        }
        &__desktop {
            display: none;
            @include tablet {
                display: block;
                height: calc(100% - 100px);
            }
        }
    }
}

@keyframes autohide-bg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes autohide {
    0% {
        opacity: 1;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}