.preloader {
    // display: none !important; 

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1111;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    background-color: $cBright;
    transition: .5s $easing opacity;
    animation: autohide 13.25s linear forwards;
    
    &_image {
        width: auto;
        height: 100vh;

        &__mobile {
            margin-left: -20%;
            margin-right: -20%;
            @include tablet {
                display: none;
            }
        }

        &__desktop {
            display: none;
            @include tablet {
                display: block;
            }
        }
    }
}

@keyframes autohide {
    0% {
        opacity: 1;
    }

    86% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}