.section {
    overflow: hidden;
    padding-bottom: 120px;
    background: fixed no-repeat center / cover;
    position: relative;
    @include desktop {
        padding-bottom: 220px;
    }

    &__blue {
        color: $cBlue;
    }

    &__white {
        color: $cLight;
    }

    &_content {
        @include layout;
    }

    &_noise {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}