.section {
    overflow: hidden;
    padding-bottom: 120px;
    background: fixed no-repeat center / cover;
    @include desktop {
        padding-bottom: 220px;
    }

    &__blue {
        color: $cBlue;
    }

    &__white {
        color: $cLight;
    }

    &_content {
        @include layout;
    }
}