.section {
    overflow: hidden;
    padding: 136px 0 170px;
    background:  no-repeat center / cover;
    background-attachment: fixed;
    position: relative;
    @include desktop {
        background-attachment: initial;
        padding-top: 275px;
        padding-bottom: 205px;
    }

    &__bg1 {
        background-image: url(img/backgrounds/1-mobile.jpg);
        @include tablet {
            background-image: url(img/backgrounds/1.jpg);
        }
    }
    &__bg2 {
        background-image: url(img/backgrounds/2-mobile.jpg);
        @include tablet {
            background-image: url(img/backgrounds/2.jpg);
        }
    }
    &__bg3 {
        background-image: url(img/backgrounds/3-mobile.jpg);
        @include tablet {
            background-image: url(img/backgrounds/3.jpg);
        }
    }
    &__bg4 {
        background-image: url(img/backgrounds/4-mobile.jpg);
        @include tablet {
            background-image: url(img/backgrounds/4.jpg);
        }
    }
    &__bg5 {
        background-image: url(img/backgrounds/5-mobile.jpg);
        @include tablet {
            background-image: url(img/backgrounds/5.jpg);
        }
    }
    &__bg-footer {
        background-image: url(img/backgrounds/footer-mobile.jpg);
        padding-bottom: 150px;
        @include tablet {
            padding-bottom: 200px;
            background-image: url(img/backgrounds/footer.jpg);
        }
    }

    &__blue {
        color: $cBlue;

        h2,
        h3 {
            color: $cBlue;
        }
    }

    &__white {
        color: $cLight;

        h2 {
            color: $cGreen;
        }

        h3 {
            color: $cLight;
        }
    }

    &__no-indent {
        padding: 0;
    }

    &__no-bottom-indent {
        padding-bottom: 0;
    }

    &_content {
        @include layout;
        position: relative;
        z-index: 2;
    }

    &_noise {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }

    &_top-button {
        @include button-reset;
        position: absolute;
        right: 6px;
        top: 60px;
        font-size: 34px;
        padding: 0 100px 0 0;
        color: $cBlue;
        background: url(#{$img}/top-arrow.svg) no-repeat right center / 70px auto;
        @include desktop {
            font-size: 44px;
            background-size: 82px auto;
            right: 140px;
            top: 100px;
        }
    }

    &_label {
        display: block;
        margin: 0 0 44px;
        font-size: 54px;
        line-height: 1.1;
        text-transform: uppercase;
        position: relative;
        @include desktop {
            margin-bottom: 112px;
        }

        .section__blue & {
            color: $cBlue;
        }
    
        .section__white & {
            color: $cLight;
        }
    }
}