---
import LayoutEmpty from "../layouts/LayoutEmpty.astro";
import TatoosSlider from "~components/TatoosSlider.astro";
import TabsSlider from "~components/TabsSlider.astro";
import Preloader from "~components/Preloader.astro";

---

<LayoutEmpty title="Not found">
    <section class="page-404">
        <div class="glitch">
            <lottie-player class="glitch_image" src="/img/json/glitches/intro.json" background="transparent" speed="1" direction="1" mode="normal" autoplay loop></lottie-player>
        </div>
        <div class="page-404_content">
             <h1 class="page-404_title">404</h1>
             <h2 class="page-404_subtitle">Whoa! You've crashed into a brawl. 
                Looks like you're off the map</h2>

            <lottie-player class="page-404_image" src="/img/json/404/fight/data.json" background="transparent" speed="1" direction="1" mode="normal" autoplay loop preserveAspectRatio="none"></lottie-player>

            <a class="button button__pink" href="/">ESCAPE THE FIGHT!</a>
        </div>

    </section>

</LayoutEmpty>
