---
import Layout from "../layouts/Layout.astro";
import TatoosSlider from "~components/TatoosSlider.astro";
import TabsSlider from "~components/TabsSlider.astro";
import Preloader from "~components/Preloader.astro";

---

<Layout title="Timur Lysenko">
    <Preloader />

    <section class="section section__no-indent section__no-bottom-indent" style="background-image: url(img/backgrounds/1.png);">
        <div class="glitch">
            <lottie-player class="glitch_image" src="/img/json/glitches/intro.json" background="transparent" speed="1" direction="1" mode="normal" autoplay loop></lottie-player>
        </div>

        <div class="intro">
            <lottie-player class="intro_image intro_image__mobile" src="/img/json/timur/mobile/data.json" background="transparent" speed="1" direction="1" mode="normal" loop autoplay preserveAspectRatio="xMidYMax meet"></lottie-player>
            <lottie-player class="intro_image intro_image__desktop" src="/img/json/timur/data.json" background="transparent" speed="1" direction="1" mode="normal" loop autoplay preserveAspectRatio="xMidYMax meet"></lottie-player>
        </div>
    </section>

    <section class="section" style="background-image: url(img/backgrounds/2.jpg);">
        <div class="section_content">
             <div class="showcase">
                <div class="showcase_video-wrapper">
                    <video src="/img/main-video-mobile.mp4" data-src="/img/main-video.mp4" class="showcase_video" loop muted playsinline></video>
                    <div class="showcase_button">
                        <button class="button button__green">
                            PEEK INTO MY WORLD
                            <img class="button_icon" src="/img/play.svg" alt="">
                        </button>
                    </div>
                    <script>
                        const videoWrapper = document.querySelector('.showcase_video-wrapper');

                        if (videoWrapper) {
                            videoWrapper.addEventListener('click', function(e) {
                                e.currentTarget.classList.remove('active');

                                if (!e.currentTarget.classList.contains('active')) {
                                    e.currentTarget.classList.add('active');
                                    e.currentTarget.querySelectorAll('video').forEach((video) => {
                                        video.muted = false;
                                        video.currentTime = 0;
                                        video.controls = true;
                                    });
                                }
                            });
                        }

                        const isMobile = window.innerWidth <= 768;
                        
                        videoWrapper?.querySelectorAll('video').forEach(video => {
                            if (video.dataset.src && !isMobile) {
                                video.setAttribute('src', video.dataset.src);
                            }
                        });

                        const videoObserverCallback = function (e) {
                            const { target, intersectionRatio } = e[0];
                            if (intersectionRatio > 0.1) {
                                target.querySelector('video').play();
                            }
                        };

                        const observer = new IntersectionObserver(videoObserverCallback, {
                            rootMargin: '0px 0px 0px 0px',
                            threshold: thresholdSteps,
                            //root: document.body
                        });
                        observer.observe(videoWrapper);
                    </script>

                </div>

            </div>
        </div>

    </section>

    <section class="section" style="background-image: url(img/backgrounds/3.png);">
        <div class="glitch glitch__top">
            <lottie-player class="glitch_image" src="/img/json/glitches/tattoo.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
        </div>

        <div class="section_content">
            <span class="section_label">Artwork</span>

            <div class="about">

                <lottie-player class="about_image" src="/img/json/face-pink/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>

                <div class="about_content">
                    <h2 class="title">
                        <span>I</span> <span>s</span><span>h</span><span>o</span><span>?</span>
                    </h2>
                    <h3 class="title">
                        <span>W</span><span>H</span><span>A</span><span>T</span><span>'</span><span>S</span> <span>U</span><span>P</span><span>?</span>
                    </h3>
                    
                    <div class="about_text">
                        <p>
                            I'm Timur, the soul behind the needle, living and breathing tattoos. 
                            My art lives in the spaces between <span class="mark gray big">realism</span>, <span class="mark green big">surrealism</span>, <span class="mark crimson big">trash-polka</span>, and <span class="mark blue big">blackwork</span>. Tattooing for me is not just work; it's a piece of my essence etched forever. Operating out of Katowice and Wroclaw, Redberry Tattoo Studio is where my unique style comes to life. 
                        </p>
    
                        <p>
                            <span class="mark navy big">'I sho? Look at me, bitch!'—this is where art meets skin.</span>
                        </p>
                    </div>
                </div>
            </div>

            <TatoosSlider />

            <div class="book">
                <button class="button">BOOK YOUR INK SESSION</button>
                <lottie-player class="book_animation" src="/img/json/booking/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
            </div>

            <TabsSlider
                classModifier="tabs-slider__sketches"
                title="SKETCHES"
                tabsLabel="Series",
                tabs={
                    [
                        {
                            name: 'Okay,fuckyou',
                            slides: [
                                {src: '/img/sketches/okay-1.jpg', title: '“Silesians” 2024'},
                                {src: '/img/sketches/okay-2.jpg', title: '“Silesians” 2024'},
                                {src: '/img/sketches/okay-3.jpg', title: '“Silesians” 2024'},
                                {src: '/img/sketches/okay-4.jpg', title: '“Silesians” 2024'},
                                {src: '/img/sketches/okay-5.jpg', title: '“Silesians” 2024'},
                                {src: '/img/sketches/okay-6.jpg', title: '“Silesians” 2024'},
                            ]
                        },
                        {
                            name: 'Nahujnada',
                            slides: [
                                {src: '/img/sketches/nahujnada-1.jpg'},
                                {src: '/img/sketches/nahujnada-2.jpg'},
                                {src: '/img/sketches/nahujnada-3.jpg'},
                                {src: '/img/sketches/nahujnada-4.jpg'},
                                {src: '/img/sketches/nahujnada-5.jpg'},
                                {src: '/img/sketches/nahujnada-6.jpg'},
                            ]
                        },
                        {
                            name: 'yeah,boy!',
                            slides: [
                                {src: '/img/sketches/yeah-1.jpg'},
                                {src: '/img/sketches/yeah-2.jpg'},
                                {src: '/img/sketches/yeah-3.jpg'},
                            ]
                        }
                    ]
                },
            />
        </div>
    </section>

    <section class="section section__blue section__no-bottom-indent" style="background-image: url(img/backgrounds/4.jpg);">
        <div class="section_content">
            <span class="section_label">Artwork</span>

            <div class="about">
                <lottie-player class="about_image" src="/img/json/face/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>

                <div class="about_content">
                    <h2 class="title">
                        <span>I</span> <span>s</span><span>h</span><span>o</span><span>?</span>
                    </h2>
                    <h3 class="title">
                        <span>W</span><span>H</span><span>A</span><span>T</span><span>'</span><span>S</span> <span>U</span><span>P</span><span>?</span>
                    </h3>
                    
                    <div class="about_text">
                        <p>
                            This series, which you can feast your eyes on at the convention, is a testament to my journey, my questions, and my declarations in the world of art. <span class="mark small blue">'I sho?'</span> - I constantly ask myself, pushing the boundaries of my creativity. Each painting is a chapter of my soul, a <span class="mark black extra-big">'look at me, bitch!'</span> moment where I dare the world to see through my eyes. The strokes, colors, and themes, they all scream <span class="mark green big">'eto maya galereya!'</span>, proudly showcasing the essence of who I am and what I stand for. So, dive in, explore, and let's have a <span class="mark navy big">'look at me, bitch!'</span> journey together through my gallery. 
                        </p>
                    </div>
                </div>
            </div>

            <TabsSlider
                title="OIL WHISPERS"
                subtitle="This series, which you can feast your eyes on at the convention, is a collection of my latest oil paintings. "
                tabsLabel="Series",
                tabs={
                    [
                        {
                            name: 'DRESOLOGIA',
                            slides: [
                                {src: '/img/paintings/dresologia-1.jpg', width: 462, color: '#0892F7'},
                                {src: '/img/paintings/dresologia-2.jpg', width: 500, color: '#FF008C'},
                                {src: '/img/paintings/dresologia-3.jpg', width: 1008, color: '#000'},
                                {src: '/img/paintings/dresologia-4.jpg', width: 462, color: '#001BAC'},
                                {src: '/img/paintings/dresologia-5.jpg', width: 1008, color: '#618201'},
                                {src: '/img/paintings/dresologia-6.jpg', width: 462, color: '#00A0AF'},
                                {src: '/img/paintings/dresologia-7.jpg', width: 929, color: '#E9E9E9'},
                            ]
                        },
                        {
                            name: 'Holy Adidas',
                            slides: [
                                {src: '/img/paintings/adidas-1.jpg', width: 462, color: '#597C0C'},
                                {src: '/img/paintings/adidas-2.jpg', width: 500, color: '#FBAB07'},
                                {src: '/img/paintings/adidas-3.jpg', width: 1008, color: '#FF008C'},
                                {src: '/img/paintings/adidas-4.jpg', width: 462, color: '#0892F7'},
                                {src: '/img/paintings/adidas-5.jpg', width: 1008, color: '#618201'},
                            ]
                        },
                    ]
                },
            />

            <div class="artwork">
                <lottie-player class="artwork_image" src="/img/json/artwork/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
            </div>
        </div>
        
        <div class="glitch">
            <lottie-player class="glitch_image" src="/img/json/glitches/biography.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
        </div>
    </section>

    <section class="section section__white section__no-bottom-indent" style="background-image: url(img/backgrounds/5.jpg);">
        <div class="section_content">
            <span class="section_label">Biography</span>
            <div class="about">

                <lottie-player class="about_image" src="/img/json/face-white/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>

                <div class="about_content">
                    <h2 class="title">
                        <span>K</span><span>t</span><span>o</span>
                        <span class="title_small"> <span>y</span><span>a</span><span>?</span></span>
                    </h2>
                    <h3 class="title">
                        <span>W</span><span>H</span><span>O</span> <span>A</span><span>M</span> <span>I</span><span>?</span>
                    </h3>
                    
                    <div class="about_text">
                        <p>
                            Timur Lysenko, born in 1988, am not just a tattoo artist, graphic designer, craftsman, and painter; I am a creator at heart. Having hailed from Ukraine, I've made Poland my home for the past 13 years. <span class="mark crimson small">"I sho?"</span> I often find myself asking, as I dive deep into the realms of creating something new, merging various forms of art with a playful rebellion. My inspiration? It's drawn from within, my own subconscious, and the rich tapestry of my surroundings and nature.
                        </p>
                        <p>
                            Back in the day, I dabbled in making collages with plants and crafted graphics that spoke volumes. But let me tell you, <span class="mark navy small">"luk et mi bich!"</span>, painting has become the cornerstone of my artistic endeavors. It's not just a branch of my activities; it's the root, the soul.
                        </p>
                        <p>
                            Among the narratives I've spun into color and form, <span class="mark orange">Dresology</span> stands out – it's the first of several series of paintings I've birthed. ions, and my declarations in the world of art. <span class="mark green small">'I sho?'</span> - I constantly ask myself, pushing the boundaries of my creativity. Each painting is a chapter of my soul, a <span class="mark green big">'look at me, bitch!'</span> moment where I dare the world to see through my eyes. The strokes, colors, and themes, they all scream 'eto maya galereya!', proudly showcasing the essence of who I am and what I stand for. So, dive in, explore, and let's have a <span class="mark blue big">'look at me, bitch!'</span> journey together through my gallery.
                        </p>
                    </div>
                </div>
            </div>


            <div class="poster">
                <div class="poster_content">
                    <span class="poster_subtitle">
                        Look at me,bitch! 
                    </span>
                    <h3 class="poster_title">
                        Grab exclusive gear from my store. Get your rebel on!
                    </h3>
                    <button class="button button__yellow">STORM STORE</button>
                </div>
                <div class="poster_image-wrapper">
                    <img src="/img/poster.png" alt="" class="poster_image">
                    <video class="poster_video" src="/img/poster.mp4" autoplay muted playsinline loop />
                    <div class="poster_labels">
                        <img src="/img/poster-label-1.svg" alt="" class="poster_label">
                        <img src="/img/poster-label-2.svg" alt="" class="poster_label">
                        <img src="/img/poster-label-3.svg" alt="" class="poster_label">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section__blue" style="background-image: url(img/backgrounds/footer.jpg);">
        <button class="section_top-button" onclick="window.scrollTo(0, 0)">Go back to top</button>
        <div class="section_content">
            <div class="contacts">
                <div class="glitch glitch__top">
                    <lottie-player class="glitch_image" src="/img/json/glitches/footer.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
                </div>


                <h2 class="contacts_title">Contact</h2>
                <div class="contacts_text">
                    <p>I sho, wanna chat? </p>
                    <p>Hit me up!’ – Slide into my socials.</p>
                </div>
                <div class="contacts_links">
                    <a href="mailto:timurlysenkotattoo@gmail.com" class="contacts_link" target="_blank">BOOKING TATOO</a>
                    <a href="https://www.instagram.com/timur_lysenko/" class="contacts_link" target="_blank">INSTAGRAM</a>
                    <a href="https://www.facebook.com/tattoo.timurlysenko/" class="contacts_link" target="_blank">FACEBOOK</a>
                </div>
                <div class="contacts_text">
                    <p>Hit me up on email! Might take an age, but I'll get back to ya... eventually. No rush, right?</p>
                </div>
                <div class="contacts_links">
                    <a href="mailto:timurlysenko@gmail.com" class="contacts_link" target="_blank">timurlysenko@gmail.com</a>
                </div>
            </div>
        </div>
    </section>
</Layout>
