---
import Layout from "../layouts/Layout.astro";
import TatoosSlider from "~components/TatoosSlider.astro";

---

<Layout title="Timur Lysenko">

    <section class="section" style="background-image: url(img/backgrounds/1.png);">
        <div class="section_content">

            <div class="intro">
                <h1 class="intro_title title">
                    <div>
                        luk
                    </div> 
                    <div>
                        et
                    </div> 
                    <div>
                        mi bich!
                    </div> 
                </h1>
                <img src="/img/intro-image.png" alt="" class="intro_image">
            </div>

        </div>

    </section>

    <section class="section" style="background-image: url(img/backgrounds/2.jpg);">
        <div class="section_content">
             <div class="showcase">
                <div class="showcase_video-wrapper">
                    <video src="/img/main-video-mobile.mp4" data-src="/img/main-video.mp4" class="showcase_video" loop autoplay muted playsinline></video>
                    <div class="showcase_button">
                        <button class="button button__green">
                            Peek Into My World
                            <img src="/img/play.svg" alt="">
                        </button>
                    </div>
                    <script>
                        const videoWrapper = document.querySelector('.showcase_video-wrapper');

                        if (videoWrapper) {
                            videoWrapper.addEventListener('click', function(e) {
                                e.currentTarget.classList.remove('active');

                                if (!e.currentTarget.classList.contains('active')) {
                                    e.currentTarget.classList.add('active');
                                    e.currentTarget.querySelectorAll('video').forEach((video) => {
                                        video.muted = false;
                                        video.currentTime = 0;
                                        video.controls = true;
                                    });
                                }
                            });
                        }

                        const isMobile = window.innerWidth <= 768;
                        
                        videoWrapper?.querySelectorAll('video').forEach(video => {
                            if (video.dataset.src && !isMobile) {
                                video.setAttribute('src', video.dataset.src);
                            }
                        });
                    </script>

                </div>

            </div>
        </div>

    </section>

    <section class="section" style="background-image: url(img/backgrounds/3.png);">
        <div class="section_content">
            <div class="about">
                <img src="/img/head-bright.png" alt="" class="about_image">

                <div class="about_content">
                    <h2 class="title">
                        I sho?
                    </h2>
                    <h3 class="title">
                        WHAT'S UP?
                    </h3>
                    
                    <div class="about_text">
                        <p>
                            I'm Timur, the soul behind the needle, living and breathing tattoos. 
                            My art lives in the spaces between realism, surrealism, trash-polka, and blackwork. Tattooing for me is not just work; it's a piece of my essence etched forever. Operating out of Katowice and Wroclaw, Redberry Tattoo Studio is where my unique style comes to life. 
                        </p>
    
                        <p>'I sho? Look at me, bitch!'—this is where art meets skin.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" class="section" style="background-image: url(img/backgrounds/4.jpg);">
        <div class="section_content">
            <TatoosSlider />
        </div>
    </section>
</Layout>
