---
import Layout from "../layouts/Layout.astro";
import Events from "~/components/Events.astro";

---

<Layout title="Timur Lysenko">

    <section class="section">
        <div class="section_content">
            <h1>Your Gateway to Events, Speakers, and Challenges</h1>

            <div class="showcase">
                <div class="showcase_video-wrapper">
                    <video src="/img/main-video-mobile.mp4" data-src="/img/main-video.mp4" class="showcase_video" loop autoplay muted playsinline></video>

                    <script>
                        const videoWrapper = document.querySelector('.showcase_video-wrapper');

                        if (videoWrapper) {
                            videoWrapper.addEventListener('click', function(e) {
                                e.currentTarget.classList.remove('active');

                                if (!e.currentTarget.classList.contains('active')) {
                                    e.currentTarget.classList.add('active');
                                    e.currentTarget.querySelectorAll('video').forEach((video) => {
                                        video.muted = false;
                                        video.currentTime = 0;
                                        video.controls = true;
                                    });
                                }
                            });
                        }

                        const isMobile = window.innerWidth <= 768;
                        
                        videoWrapper?.querySelectorAll('video').forEach(video => {
                            if (video.dataset.src && !isMobile) {
                                video.setAttribute('src', video.dataset.src);
                            }
                        });
                    </script>
                </div>
                <p class="showcase_text">
                    <span>2024-2025</span> unfolds as a landmark year for our Event Calendar, centered around our ethos: <strong>Learn, Connect, Inspire</strong>. Engage with the <strong>People and Places of Miami</strong> as we unite a vibrant community committed to shaping the future through innovation and shared experiences.
                </p>

            </div>
        </div>

        <a name="events"></a>
    </section>



    <section class="section">
        <div class="section_content">
            <div class="about">
                <h2>For more about us and our Leadership, visit our Mission page to dive deeper into our vision</h2>
                <a href="#" class="about_link button-link button-link__dark">Explore Our Mission & Leadership</a>
            </div>
        </div>
    </section>
</Layout>
