---
import Layout from "../layouts/Layout.astro";
import TatoosSlider from "~components/TatoosSlider.astro";
import TabsSlider from "~components/TabsSlider.astro";
import Preloader from "~components/Preloader.astro";

---

<Layout title="Timur Lysenko store">
    <section class="section" style="background-image: url(img/backgrounds/2.jpg);">
        <div class="section_content">
             <div class="store">
                <div class="store_header">
                    <h2 class="store_title">Store my poster</h2>
                    <div>
                        <a href="mailto:timurlysenkotattoo@gmail.com" class="store_link" target="_blank">BOOKING TATOO</a>
                        <a href="https://www.instagram.com/timur_lysenko/" class="store_link" target="_blank">INSTAGRAM</a>
                        <a href="https://www.facebook.com/tattoo.timurlysenko/" class="store_link" target="_blank">FACEBOOK</a>
                    </div>
                </div>
                <div class="store_grid">
                    
                </div>
            </div>
        </div>

    </section>

</Layout>
