<footer class="footer">
    <div class="footer_holder">
        <div class="footer_head">
            <img src="/img/head.png" alt="" class="footer_head-image">
            <div class="footer_head-text">
                <span>I sho?</span>
                <span>You bet!</span>
            </div>
        </div>
        <span class="footer_copyrights">©2024.Crafted by yours truly, Timur.All rights fiercely guarded.</span>
    </div>
</footer>
