<footer class="footer">
    <div class="footer_holder">
        <div class="footer_head">
            <lottie-player class="footer_head-image" src="/img/json/footer-head/data.json" background="transparent" speed="1" direction="1" mode="normal" autoplay loop></lottie-player>
        </div>
        <span class="footer_copyrights">©2024.Crafted by yours truly, Timur.All rights fiercely guarded.</span>
    </div>
</footer>
