<header class="header">
    <div class="header_holder">
        <a href="/" class="logo">
            Timur
            Lysenko
        </a>
        <div class="menu">
            <a href="/" class="menu_logo">
                <lottie-player class="menu_logo-image" src="/img/menu-logo.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </a>
            <nav class="menu_links">
                <a href="/#tatoo" class="menu_link">Tattoo</a>
                <a href="/#artwork" class="menu_link">ARTWORK</a>
                <a href="/#biography" class="menu_link">Biography</a>
                <a href="/#store" class="menu_link">STore
                </a>

            </nav>
            <script>
                document.querySelectorAll('.menu_link').forEach((link) => link.addEventListener('click', () => document.body.classList.remove('menu-opened')))
            </script>
        </div>
        <button class="menu-toggle">
            MENU
        </button>
    </div>
</header>

<script>
    const menuToggleElement = document.querySelector(".menu-toggle");
    if (menuToggleElement) {
        menuToggleElement.addEventListener("click", (e: Event) => {
            document.body.classList.toggle("menu-opened");
        });
    }
</script>
