<header class="header">
    <a href="/" class="logo">
        <lottie-player class="logo_image" src="/img/json/logo.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
        <!-----
            <img class="logo_image" src="/img/logo.svg" alt="">
        -->
    </a>
    <div class="menu">
        <lottie-player class="menu_logo" src="/img/json/menu/logo/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
        <lottie-player class="menu_close" src="/img/json/menu/close/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>

        <nav class="menu_links">
            <a href="/#tatoo" class="menu_link">
                <span class="menu_link-text">Tattoo</span>
            </a>
            <a href="/#artwork" class="menu_link">
                <span class="menu_link-text">ARTWORK</span>
            </a>
            <a href="/#biography" class="menu_link">
                <span class="menu_link-text">Biography</span>
            </a>
            <span class="menu_link">
                <span class="menu_link-text">STore</span>
                
                <img src="/img/soon.svg" alt="" class="menu_link-soon">
            </span>
        </nav>

        <div class="menu_footer">
            <a href="mailto:timurlysenkotattoo@gmail.com" class="menu_footer-link" target="_blank">BOOKING TATOO</a>
            <a href="https://www.instagram.com/timur_lysenko/" class="menu_footer-link" target="_blank">INSTAGRAM</a>
            <a href="https://www.facebook.com/tattoo.timurlysenko/" class="menu_footer-link" target="_blank">FACEBOOK</a>
        </div>

        <script>
            document.querySelectorAll('.menu_link').forEach((link) => link.addEventListener('click', () => document.body.classList.remove('menu-opened')))
        </script>
    </div>
    <div class="menu-toggle">
        <lottie-player class="menu-toggle_image" src="/img/json/menu/open/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
    </div>

    <lottie-player class="header_bird" src="/img/json/pigeon/data.json" background="transparent" speed="1" direction="1" mode="normal"   loop></lottie-player>
</header>

<script>
    const menuToggleElement = document.querySelectorAll(".menu-toggle, .menu_close");
    menuToggleElement.forEach(el => el.addEventListener("click", (e: Event) => {
        document.body.classList.toggle("menu-opened");
    }));
</script>
