<header class="header">
    <a href="/" class="logo">
        <img class="logo_image" src="/img/logo.svg" alt="">
    </a>
    <div class="menu">
        <nav class="menu_links">
            <a href="/#tatoo" class="menu_link" style="color: #FF008C">Tattoo</a>
            <a href="/#artwork" class="menu_link" style="color: #618201">ARTWORK</a>
            <a href="/#biography" class="menu_link" style="color: #001BAC">Biography</a>
            <a href="/#store" class="menu_link" style="color: #FBAB07">STore</a>
        </nav>
        <script>
            document.querySelectorAll('.menu_link').forEach((link) => link.addEventListener('click', () => document.body.classList.remove('menu-opened')))
        </script>
    </div>
    <button class="menu-toggle">
        MENU
    </button>
</header>

<script>
    const menuToggleElement = document.querySelector(".menu-toggle");
    if (menuToggleElement) {
        menuToggleElement.addEventListener("click", (e: Event) => {
            document.body.classList.toggle("menu-opened");
        });
    }
</script>
