<div class="preloader">
    <lottie-player class="preloader_image preloader_image__desktop" src="/img/json/preloader/data.json" background="transparent" speed="1" direction="1" mode="normal" autoplay preserveAspectRatio="xMidYMax meet"></lottie-player>
    <lottie-player class="preloader_image preloader_image__mobile" src="/img/json/preloader/mobile/data.json" background="transparent" speed="1" direction="1" mode="normal" autoplay preserveAspectRatio="xMidYMax meet"></lottie-player>
</div>
