---
export interface Props {
    color: string;
    src: string;
}

const { src, color } = Astro.props;
---

<a class="tatoo" href="/events/event" style={`background-color: ${color}`}>
    <div class="event_arrow" style={`background-color: ${color}`} />
    <img class="event_image" src={src} alt="" />
</a>

