$img: "/img";

$color: #141414;
$cLight: #F8F5F1;
$cBright: #FF008C;
$cGreen: #597C0C;
$cBlue: #001BAC;

$cGray: #B0B0BF;
$cGrayDark: #787891;
$cGreenDark: #7E9C07;
$cPurple: #BF9FFF;
$cCard: #131218;

$font-family: 'MonospaceTypewriter', helvetica, arial;

$font-size: 34px;
$font-size__small: 18px;

$max-width: 16704px;
$indent: 14px;

// easings
$easingSmooth: cubic-bezier(0.38, 0.005, 0.215, 1);
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easingSmooth;

#lottie {
    background-color: #141418;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1;
}
