.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include desktop {
        flex-direction: row;
        gap: 60px;
    }

    &_image {
        flex-shrink: 0;
        max-width: 464px;
    }

    &_content {
        flex-shrink: 1;
    }

    h3 {
        margin-bottom: 64px;
        @include desktop {
            margin-bottom: 160px;
        }
    }
}