.glitch {
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 20%;
    max-width: 100%;
    @include desktop {
        top: auto;
        bottom: 0;
    }

    &__top {
        top: 0;
        bottom: auto;
    }
}