.glitch {
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 20%;
    max-width: 100%;
    @include desktop {
        top: auto;
        bottom: 0;
    }

    &__top {
        top: 0;
        bottom: auto;
    }

    .glitch-wrapper & {
        top: -50px;
        @include desktop {
            top: 0;
        }
    }
}

.glitch-wrapper {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    @include desktop {
        position: static;
    }
}