.intro {
    display: flex;
    justify-content: center;
    position: relative;
    pointer-events: none;

    &_image {
        height: 100vh;
        width: auto;

        &__mobile {
            margin-left: -20%;
            margin-right: -20%;
            @include tablet {
                display: none;
            }
        }
        &__desktop {
            display: none;
            @include tablet {
                display: block;
            }
        }
    }

    &_title {
        position: absolute;
        right: 0;
        bottom: 22px;
        @include desktop {
            bottom: 74px;
            right: auto;
            left: 65%;
            transform: translateX(-50%);
        }
    }
}