.intro {
    display: flex;
    justify-content: center;
    position: relative;
    pointer-events: none;

    &_image {
        width: 100vw;
        @include tablet {
            width: auto;
            height: 100vh;
        }
    }

    &_title {
        position: absolute;
        right: 0;
        bottom: 22px;
        @include desktop {
            bottom: 74px;
            right: auto;
            left: 65%;
            transform: translateX(-50%);
        }
    }
}