.poster {
    display: flex;
    flex-direction: column-reverse;
    gap: 86px;
    margin-bottom: 250px;
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    &_image-wrapper {
        position: relative;
        max-width: 1000px;
        @include desktop {
            width: 45%;
            flex-shrink: 0;
        }
    }

    &_image {
        display: block;
        position: relative;
        z-index: 2;
    }

    &_video {
        position: absolute;
        width: 49%;
        bottom: 16%;
        left: 49%;
        z-index: 3;
        transform: translateX(-50%) rotate(-1deg);
        @include desktop {

        }
    }

    &_subtitle {
        font-size: 64px;
        line-height: 1.05;
        text-transform: uppercase;
        margin-bottom: 60px;
        display: block;
        @include desktop {
            font-size: 54px;
            margin-bottom: 52px;
        }
    }

    &_title[class] {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 60px;
        text-transform: uppercase;
        color: $cYellow;
        @include desktop {
            font-size: 74px;
        }
    }

    &_content {
        @include desktop {
            padding-top: 150px;
        }
    }

    &_labels {
        display: none;
        @include desktop {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-end;
            position: absolute;
            right: 76%;
            bottom: 113px;
            z-index: 1;
        }
    }

    &_label {
        max-width: none;
    }
}