.showcase {
    &_video-wrapper {
        position: relative;
        padding: 14px 6px;
        background-color: $cBlue;
        @include desktop {
            padding: 13px 16px;
        }
        
        &::before {
            content: '';
            width: 1652px;
            height: 980px;
            border-radius: 1652px;
            background: rgba(251, 171, 7, 0.69);
            filter: blur(110px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    &_video {
        max-width: 100%;
        position: relative;
        z-index: 2;
        width: 100%;
    }

    &_button {
        position: absolute;
        bottom: 88px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @include desktop {
            left: auto;
            transform: none;
            right: 58px;
            bottom: 64px;
        }
    }
}